

.calculateWrap{
    display: block;
    border-radius: 6px;
    position: relative;
   left: 0;
   right: 0;
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    border: 1px solid black;
}





